@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --spacing: 32px;
    --main-bg-color: #1b1b1b;
    --second-bg-color: #4e4e4e;
    --main-color: #fefefe;
    --main-font-family: "Fira Sans", Arial;
    --main-font-size: 16px;
    --width: 1366px;
    --min-width: 720px;
    --link-color: #03bafc;
    --link-visited-color: #b742ff;
    --ins-grad: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
    --tailor-grad: linear-gradient(90deg,rgba(0, 242, 255, 1) 0%, rgba(0, 28, 242, 1) 50%, rgba(255, 255, 255, 1) 100%);
    --gem-grad: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    --alch-grad: linear-gradient(90deg, rgba(119, 0, 255, 1) 0%, rgba(255, 107, 238, 1) 50%, rgba(0, 242, 255, 1) 100%);
}


body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
    margin: 0;
    padding: 0;
}


body {
    background-color: var(--main-bg-color);
    color: var(--main-color);
    font-family: var(--main-font-family);
    font-size: var(--main-font-size);
    font-style: normal;
    font-weight: normal;
}

.wrapper {
    max-width: -webkit-calc(var(--width) - (var(--spacing) * 2));
    max-width: calc(var(--width) - (var(--spacing) * 2));
    min-width: var(--min-width);
    margin-right: auto;
    margin-left: auto;
    padding-right: var(--spacing);
    padding-left: var(--spacing);
}

.wacopy-btn {
    padding: 4px 16px;
}

.wacopy-div {
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    flex-wrap: wrap;
    font-size: 20px;
    padding: 2px var(--spacing);
}

.ct-checkboxes {
    vertical-align: middle;
    border-radius: 5px;
    padding: 0px 24px;
}

.ct-checkbox {
    --size: 32px;
    height: var(--size);
    width: var(--size);
}

input,
select {
    height: 24px;
}

.wacopy-div:hover {
    background-color: var(--second-bg-color);
}

.gem {
    background: var(--gem-grad);
    color: transparent;
    background-clip: text;
}

.gem:has(> input:checked), .gem-l {
    background: var(--gem-grad);
    color: white;
    background-clip: content-box;
}

.transmute {
    background: var(--alch-grad);
    color: transparent;
    background-clip: text;
}

.transmute:has(> input:checked), .transmute-l {
    background: var(--alch-grad);
    color: white;
    background-clip: content-box;
}


.scroll {
    background: var(--ins-grad);
    color: transparent;
    background-clip: text;
}

.scroll:has(> input:checked), .scroll-l {
    background: var(--ins-grad);
    color: white;
    background-clip: content-box;
}

.cloth {
    background: var(--tailor-grad);
    color: transparent;
    background-clip: text;
}

.cloth:has(> input:checked), .cloth-l {
    background: var(--tailor-grad);
    color: white;
    background-clip: content-box;
}

li {
    list-style-type: none;
}

a {
    color: var(--link-color);
}

a:hover {
    color: var(--link-color);
}

a:visited {
    color: var(--link-visited-color);
}

table,
th,
td {
    border-collapse: collapse;
    border: 3px wheat solid;
}